
  .overall
  {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
  }

  .overallexpand
  {
    flex-grow: 1;
  }
  
  .frogheader
  {
    position: relative;
    width: 150px;
    height: 100px;
    top: -100px;
    background-image: url("../../../../images/frogtransparent.png");
    background-size: contain;
    margin-bottom: -100px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  
  .comicrepeat
  {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url("../../../../images/portfolio_cover_collage.jpg");
    background-position: bottom 180px right 400px;
    background-size: 800px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    height: 100%;  
  }
  
  .content
  { 
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    opacity: 1.0;
    background-color: white;
    flex-grow: 1;
  }
  
  .greenbarnarrow
  {
    width: 100%;
    height: 5px;
    background-color:rgb(20, 109, 68);
    margin-top: 3px;
  }
  
  .greenbarmedium
  {
    margin-top: 3px;
    width: 100%;
    height: 20px;
    background-color:rgb(20, 109, 68);  
  }
  
  .greenbarwide
  {
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 3px;    
    background-color:rgb(20, 109, 68)
  }
  
  .headerindent
  {
    padding-left: 160px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
  }

  .dropshadow
  {
    width: 100%;
    height: 2px;
    background-color:black;
    opacity: 0.5;
  }

  @media only screen and (max-width: 375px) {
    .headerindent {
      display:none;
    }
  }