.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.frogcolumn
{    
    padding-top: 20px;
    max-width: 250px;
    object-fit: contain;
}

.frogimage
{
    max-width: 250px;
    width: 100%;
    height: auto;
}

.walloftext
{
    padding-left: 20px;
    padding-bottom: 20px;
}

.header
{
    font-weight: normal;
}

.contact
{
    display: flex;
    align-items: center;
}

.email
{
    font-size:x-small;
}


