.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

.frogcolumn
{    
    padding-top: 20px;
    max-width: 250px;
    object-fit: contain;
}

.frogimage
{
    max-width: 250px;
    width: 100%;
    height: auto;
}

.walloftext
{
    padding-left: 20px;
    padding-bottom: 20px;
}

.header
{
    font-weight: normal;
}

.contact
{
    display: flex;
    align-items: center;
}

.email
{
    font-size:x-small;
}


.imagebutton
{
    width: 200px;
    height: 100px;
    border-radius: 6px;
    display: flex;
    align-items: end;
    justify-content: end;
    cursor: pointer;
    padding-block: 0px;
    padding-inline: 0px;
    outline: 3px white solid;
    transition: 0.5s;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 2px black solid;
    text-decoration: none;
    margin-left: 20px;
}

.imagebutton:hover
{
    outline: 3px #146d44 solid;
    background-size: 220%;
}

.buttonabout
{
    background-image: url("../images/frogtransparent.png");
    background-position: right 30px top -2px;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #6cac8e;
}

.buttonabout:hover
{
    background-size: 70%;
}

.labelshade {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: right;
    padding-left: 5px;
    padding-right: 6px;
    padding-top: 2px;
}


