.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

.thumbnailcolumn
{    
    padding-top: 0px;
}

.thumbnail
{
    width: 372px;
    height: 256px;
}

.walloftext
{
    padding: 10px;
}

.header
{
    font-weight: normal;
}

@media only screen and (max-width: 800px) {
    .container {
      display:block;
    }
  }