.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnailcolumn
{    
    padding-top: 0px;       
}

.thumbnail
{
    max-width: 500px;
    width: 100%;
    height: auto;  
}

.walloftext
{
    padding: 10px;
}

.header
{
    font-weight: normal;
}

.pageimage
{
    max-width: 100%;
    height: auto;    
}

