.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnailcolumn
{    
    padding-top: 0px;
    max-width: 300px;   
}

.thumbnail
{
    width: 372px;
    height: 256px;
}

.walloftext
{
    padding: 10px;
}

.header
{
    font-weight: normal;
}

