.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnailcolumn
{    
    padding-top: 0px;
    max-width: 300px;
}

.thumbnail
{
    max-width: 300px;
    width: 100%;
    height: auto;
}

.walloftext
{    
    padding-bottom: 10px;
}

.header
{
    font-weight: normal;
}

