.container
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thumbnailcolumn
{    
    padding-top: 0px;
    max-width: 300px;
}

.thumbnail
{
    width: 360px;
    height: 233px;
}

.walloftext
{    
    padding-bottom: 10px;
}

.header
{
    font-weight: normal;
}
