.thumbnailholder
{
    display: inline;
    z-index: 9999;
}

.thumbnail
{
    height: 100px;
    width: auto;
    object-fit: contain;    
    padding: 5px;
    border: 2px white solid;
}

.thumbnail:hover
{
    border: 2px green solid;
}

.smallarrow
{
  width: 40px;
  height: 40px;    
}

.paginator
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.pagelabel
{
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

.invisible
{
    display: none;
 }

