
  
  
  
  .frogheader
  {
    position: relative;
    width: 150px;
    height: 100px;
    top: -100px;
    background-image: url("../images/frogtransparent.png");
    background-size: contain;
  }
  
  .comicrepeat
  {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: url("../images/portfolio_cover_collage.jpg");
    background-position: bottom 200px right 400px;
    background-size: 800px;
    background-repeat: repeat;  
  }
  
  .content
  { 
    margin-top: -100px; 
    padding-left: 48px;
    padding-right: 48px;
    opacity: 1.0;  
  }
  
  .greenbarnarrow
  {
    width: 100%;
    height: 5px;
    background-color:rgb(20, 109, 68);
    margin-top: 3px;
  }
  
  .greenbarmedium
  {
    width: 100%;
    height: 20px;
    background-color:rgb(20, 109, 68);  
  }
  
  .greenbarwide
  {
    width: 100%;
    height: 40px;
    padding-top: 8px;
    margin-top: 3px;    
    background-color:rgb(20, 109, 68)
  }
  
  .headerindent
  {
    padding-left: 170px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
  }

  .dropshadow
  {
    width: 100%;
    height: 5px;
    background-color:black;
    opacity: 0.5;
  }