.overallcontainer {
  margin-top: 4px;
  background-color: white;
}

.catcontainer {
  padding-top: 3px;
  padding-left: 15px;
  padding-right: 3px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
}

.cat {
  border-bottom: 1px black solid;  
  background-color: rgb(164, 218, 216);
}

.subcat {
  background-color: rgb(227, 255, 254);
}

.navitem {
  font-size: 12px;
  border: 1px black solid;
  border-radius: 3px;
  padding: 3px;
  margin-right: 3px;
  text-wrap: nowrap;
  margin-top: 3px;
  cursor: pointer;
}

.navitem button {
  color: black;
  text-decoration: none;
}

.active, .navitem:hover {
  color: white;
  background-color: black;
}