.topnav
{  
  padding: 10px;
  margin-top: -100px;
}

.navbar
{
  display: flex;
  justify-content: flex-start;
}

.subnavbar
{
  display: flex;
  justify-content: flex-start;
}

.subnav
{
  padding: 10px;
  background-color:rgb(157, 220, 190);
  border-top: 2px black solid;
  border-left: 2px black solid;
  border-right: 2px black solid;  
  border-bottom: 2px black solid;
  position: relative;
  top: -2px;
}

.toolbarbutton {  
    background-color:rgb(101, 143, 124);
    border: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
    margin-right: 5px;
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1000;
    padding: 10px;   
  }

  .toolbarbutton:hover
  {
    background-color:rgb(157, 220, 190);
  }
  
  .toolbarbuttonselected {
    color: black;
    background-color:rgb(157, 220, 190);
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
    margin-right: 5px;
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1000;
    padding: 10px;   
  }
  
  .subtoolbarbutton {
    color: rgb(20, 109, 68);
    background-color: rgb(205, 223, 205);
    border: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 5px;
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1000;
    padding: 10px;  
  }

  .subtoolbarbutton:hover {
    background-color: white;
  }
  
  .subtoolbarbuttonselected {
    color: rgb(20, 109, 68);
    background-color: white;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 5px;
    text-transform: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1000;
    padding: 10px;  
  }
  
  .pages
  {
    padding: 10px;
    border: 2px black solid;
    background-color: white;
    position:relative;
    top: -2px
  }

  .dropdown
  {
    background-color: rgb(157, 220, 190);
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
  }

  .subdropdown
  {
    background-color: white;
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
  }

  .menuitem
  {
    font-family: Georgia, 'Times New Roman', Times, serif;    
    padding: 10px;
  }

  @media only screen and (max-width: 800px) {
    .navbar { 
      display:none;
    }

    .subnavbar {
      display:none;
    }
  }

  @media only screen and (min-width: 801px) {
    .dropdown { 
      display:none;
    }

    .subdropdown{
      display: none;
    }
  }