  .above
  {
    z-index: 9999;    
    text-align: center;
    padding-top: 10px;  
  }

  .numberline
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .buttoncontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pagebutton
  { 
    display: block;   
    border: 1px black solid;
    border-radius: 3px;
    padding: 3px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    height: 75px;
    width: 53px;
    outline: 3px white solid;
    transition: 0.5s;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
  }

  .pagebutton:hover
  {
    outline: 3px #146d44 solid;
  }

  .pagebuttonimage {
    object-fit: cover;
    width: 52px;
    height: 50px;
    display: block;
  }

  .pagenumberdiv {
    padding-top: 3px;
    height: 25px;
  }

  .placeholder {
    height: 50px;
  }

  .ellipsis {
    padding-top: 3px;
  }

  .current
  {
    background-color: black;
    color: white;
  }

  .arrowbutton
  {
    cursor: pointer;
    outline: 3px white solid;
    margin: 3px;
    transition: 0.5s;
  }

  .arrowbutton:hover
  {
    outline: 3px #146d44 solid;
  }



