.paginatorholder
{
  align-items: center;
}

.bottomarrows {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;        
  }

  .pagelabel {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 20px; 
    padding-right: 20px;
    width: 200px; 
  }

  .invisible
  {
    display: none;
  }

  .above
  {
    z-index: 9999;    
    text-align: center;
    padding-top: 10px;  
  }

  .currentimage
  { 
    object-fit: contain;    
  }

  .imagecontainer
  {    
    z-index: 10000;
    position: relative;
    height: 80vh;    
  }




